name: check

on: push

jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Build
        uses: eskatos/gradle-command-action@v1
        with:
          arguments: assemble testClasses -Pkotlin.incremental=false --no-daemon

      - name: Check
        uses: eskatos/gradle-command-action@v1
        with:
          arguments: check -Pkotlin.incremental=false --no-daemon